apiVersion: machine.openshift.io/v1beta1
kind: MachineSet
metadata:
  creationTimestamp: null
  labels:
    machine.openshift.io/cluster-api-cluster: {{ infraID.stdout }}
  name: {{ infraID.stdout }}-worker
  namespace: openshift-machine-api
spec:
  replicas: 3
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-cluster: {{ infraID.stdout }}
      machine.openshift.io/cluster-api-machineset: {{ infraID.stdout }}-worker
  template:
    metadata:
      creationTimestamp: null
      labels:
        machine.openshift.io/cluster-api-cluster: {{ infraID.stdout }}
        machine.openshift.io/cluster-api-machine-role: worker
        machine.openshift.io/cluster-api-machine-type: worker
        machine.openshift.io/cluster-api-machineset: {{ infraID.stdout }}-worker
    spec:
      metadata:
        creationTimestamp: null
      providerSpec:
        value:
          apiVersion: vsphereprovider.openshift.io/v1beta1
          credentialsSecret:
            name: vsphere-cloud-credentials
          diskGiB: 120
          kind: VSphereMachineProviderSpec
          memoryMiB: 8192
          metadata:
            creationTimestamp: null
          network:
            devices:
            - networkName: "{{ vcenter.network }}"
          numCPUs: 2
          numCoresPerSocket: 1
          snapshot: ""
          template: {{ infraID.stdout }}-rhcos
          userDataSecret:
            name: worker-user-data
          workspace:
            datacenter: {{ vcenter.datacenter }}
            datastore: {{ vcenter.datastore }}
            folder: /{{ vcenter.datacenter }}/vm/{{ infraID.stdout }}
            resourcePool: /{{ vcenter.datacenter }}/host/{{ vcenter.cluster }}/Resources
            server: {{ vcenter.ip }}
status:
  replicas: 0
